@media (max-width: 750px){
    .modalBody{
        width: 100%;
        height: 100%;
    }
    .lastSeen{   
        bottom: 5px;
        right: 5px;
        position: fixed;   
    }
}
@media (min-width: 751px){
    .modalBody{
        max-width: 670px;
        min-height: 670px;
        border-radius: 8px;
    }
    .lastSeen{   
        bottom: 12px;
        right: 12px;
        position: absolute;   
    }

}

.modalWrapper.open{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

}
.modalWrapper.close{
    display:none;
}

.modalBody{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;   
    box-sizing: border-box;
    margin: 0;
    z-index: 1000;
}
.title{
    box-sizing: border-box; 
    color: #fff;
    font-weight: 700;
    text-align: center;
    background-color: #b3294e;
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;
 }
 .title p{
    margin-top: 30px;
    text-transform: capitalize;  
 }
.btnClose{
    position: absolute;
    top: 13px;
    right: 13px;
    color: #fff;
    background-color: #b3294e;
}
.content{
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: center;
}
.icons{
    display: flex;
    position: absolute;
    top: 119px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.icons button{
    color: #fff;
    background-color: #b3294e;
    margin-left: 15px;
}
.icons button:last-child{
    margin-right: 15px;
}
.lastSeen{
    font-size: 12px;
}
.arrowBackIcon{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    background-color: #b3294e;
}
.udpateNameForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 150px;
    font-weight: 700;
}

.updateNameInput{
    font-size: 50px;
    width: 80%;
    color: #b3294e;
    font-weight: 700;
    text-align: center;
    background-color: #f5f5f5;
    height: 71px;
    border-radius: 6px;
    margin-left: 27px;
}
.updateNameInput::placeholder{
    font-weight: 400;
    font-size: 40px;
}
.updateNameIcon{
    color:#f5f5f5;
    background-color: #b3294e;   
    margin-left: 5px;
}
.submitBtn{
    height: 45px;
    color: #fff;
    background-color: #b3294e;
    font-weight: 700;
    border-radius: 0 0 6px 6px;
    position: absolute;
    bottom: 0px;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

